<!DOCTYPE html>
<html lang="PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>

<body>
    <div class="cal">
        <div class="nav"></div>
        <br>
        <div class="container">

        </div>
    </div>
    <div class="zad">
        <div class="head">
            <div class="hl">Zadania</div>
            <div class="hp">
                <div class="ed" onclick="dodaj()">Dodaj</div>
                <div class="ed" onclick="usun()">Usuń</div>
                <div class="ed" onclick="edytuj()">Edytuj</div>
            </div>
        </div>
        <div class="tresc">
            <p>
                <h4>Matematyka</h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae debitis labore
                repudiandae nobis dolor nesciunt ut! Omnis laudantium numquam harum aliquid, ipsa tempore minima
                explicabo assumenda repellendus necessitatibus unde dolor.
            </p>
            <p><h4></h4></p>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>