<!DOCTYPE html>
<html lang="PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>

<body>
    <div class="cal">
        <div class="nav"></div>
        <br>
        <div class="container">

        </div>
    </div>
    <div class="zad">
        <div class="head">
            <div class="hl">Zadania</div>
            <div class="hp">
                <div class="ed" onclick='dodaj("a")'>Dodaj</div>
                <div class="ed" onclick='usun("a")'>Usuń</div>
                <div class="ed" onclick='edytuj("a")'>Edytuj</div>
            </div>
        </div>
        <div class="tresc">
            
                <h4>Trwa łączenie z bazą danych...</h4>
            
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>