<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalNotes</title>
    <link rel="stylesheet" href="/css/lista.css">
    <link rel="icon" href="/img/aa1.png" type="image/png" sizes="128x128">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
        <div class="logo"><img src="/img/aa1.png" width="25px">&nbspCalNotes</div>
        <div class="plus" onclick='dodaj("b")'>+</div>
    </div>
    <div class="content">
    
    </div>

<div class="ll"> <a href="/"><img src="/img/aa2.png" width="45px"></a></div>
<script src="/js/lista.js"></script>
</body>

</html>